body{
  background: #999;
  padding-top: 20px;
}

/*Alert*/
.alert {
  margin: 20px auto;
  width: 640px;
}

/*Masthead*/
.masthead{
  padding: 20px 0;
}

/*Canavses*/
#output, #photo  {
  width: 640px;
  height: 480px;
  margin: 0 0 20px 0;
}

.photobooth .row .span12{
  padding: 20px 0;
  text-align: center;
}

