// Container
// .container {
//   width: 960px;
//   margin: 0 auto;
//   position:relative;
// }

.photo-booth {
  position:relative;
  width:960px;
  height:540px;
  #output, #photo {
    position: absolute;
    top:0;
    left:0;
    width:auto;
    height:100%
  }
}

// #flash {
//   display:block;
//   position:absolute;
//   top:0;
//   left:0;
//   background:#fff;
//   z-index:99;
//   width:640px;
//   height:480px;
//   opacity:0;
//   -webkit-transition:opacity 0.1s ease-in-out;
//   -moz-transition:opacity 0.1s ease-in-out;
//   -o-transition:opacity 0.1s ease-in-out;
//   transition:opacity 0.1s ease-in-out;
//   &.active {
//     opacity:1;
//     -webkit-transition:opacity 0.1s ease-in-out;
//     -moz-transition:opacity 0.1s ease-in-out;
//     -o-transition:opacity 0.1s ease-in-out;
//     transition:opacity 0.1s ease-in-out;
//   }
// }